.messenger{
    height:calc(100vh - 115px);
    display:flex;
}

.chatMenu{
    flex: 3.5;
}
.chatMenuInput{
    width: 90%;
    padding: 10px 0;
    border:none;
    border-bottom: 1px solid gray;
}

.chatBox{
    flex: 5.5;
    background-color: rgb(237, 237, 165);
    border-radius: 10px;
    padding: 10px;


}

.emojiPickerContainer {
    position: absolute;
    bottom: 20%; /* Position above the text area */
    right: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 350px; 
    overflow-y: auto;
}



.chatBoxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:relative;
}

.chatBoxTop{
    height: 100%;
    overflow-y : scroll;
    padding-right: 10px;
    scrollbar-width: none;

}

.chatBoxBottom{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatMessageInput{
    width: 80%;
    height: 60px;
    padding: 10px;
}

.chatSubmitButton{
    width: 70px;
    height: 40px;
    border:none;
    border-radius: 5px;
    background-color: rgb(119, 142, 57);
    color: white;
}

.chatOnline{
    flex: 3;
}

.chatMenuWrapper,.chatBoxWrapper,.chatOnlineWrapper{
    padding: 10px;
    /* background-color: lemonchiffon; */
    height:100%;
}

.noConversation{
    position: absolute;
    top:40%;
    font-size: 40px;
    padding: auto;
    color: rgb(190, 189, 189);
    text-align: center;
    cursor:default;
}





/* For small screens (mobile phones) */
@media only screen and (max-width: 600px) {
    .messenger {
        flex-direction: column;
        height: auto; /* Reset height */
    }

    .chatMenu, .chatBox, .chatOnline {
        flex: 1; /* Each component takes full width */
    }

    .chatMenuWrapper, .chatBoxWrapper, .chatOnlineWrapper {
        height: auto; /* Reset height */
        overflow-y: auto; /* Enable scrolling if needed */
    }

    .chatBoxTop {
        max-height: 300px; /* Limit height of chatBoxTop for scrolling */
    }

    .chatMessageInput {
        width: 100%; /* Full width input field */
    }
    
    .conversationImg, .chatOnlineImg {
        width: 30px;
        height: 30px;
    }
}
