.messenger{
    height:calc(100vh - 115px);
    display:flex;
}

.chatMenu{
    flex: 3.5;
}
.chatMenuInput{
    width: 90%;
    padding: 10px 0;
    border:none;
    border-bottom: 1px solid gray;
}

.chatBox{
    flex: 5.5;
    background-color: rgb(237, 237, 165);


}

.chatBoxWrapper{
    display: flex;
    flex-direction: column;
}

.chatBoxTop{
    height: 100%;
    overflow-y : scroll;
    padding-right: 10px;
    scrollbar-width: none;

}

.chatBoxBottom{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatMessageInput{
    width: 80%;
    height: 60px;
    padding: 10px;
}

.chatSubmitButton{
    width: 70px;
    height: 40px;
    border:none;
    border-radius: 5px;
    background-color: rgb(119, 142, 57);
    color: white;
}

.chatOnline{
    flex: 3;
}

.chatMenuWrapper,.chatBoxWrapper,.chatOnlineWrapper{
    padding: 10px;
    /* background-color: lemonchiffon; */
    height:100%;
}