/* Main container styles */
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    padding: 1rem;
  }
  
  /* Section container styles */
  .flex-container {
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap:wrap; */
    margin-top: 1rem;
  }
  
  .img-container {
    margin: 0.5rem;
  }


  /* Text container styles */
.text-container {
  border: 2px solid #E7EE9D;
  border-bottom: none;
  padding: 1rem;
  background-color: #E7EE9D;
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
} 

/* Paragraph styles */
.text-lg {
  background-color: #E7EE9D;
  margin: 0; 
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  /* Adjust margin for the main container on smaller screens */
  .container {
    padding: 0.5rem; 
  }

  /* Adjust margin for the section container on smaller screens */
  .flex-container {
    margin-top: 0.5rem; 
  }

  /* Adjust width for text container on smaller screens */
  .text-container {
    width: 100%; 
  }

  /* Adjust margin for images on smaller screens */
  .img-container {
    margin: 0.25rem;
  }
}