.chatOnlineFriend{
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor:pointer;
    margin-top: 10px;
    padding: 10px;
}
.chatOnlineFriend:hover{
    background-color:  rgb(199, 195, 195);
}

.chatOnlineImgContainer{
    position: relative;
    margin-right: 10px;
}



.chatOnlineImg{
    width:40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white;


}

.chatOnlineBadge{
    position:absolute; 
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(58, 234, 10);
    top:1px;
    left: 1px;

 }