




/* .items-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; 
  }

  .text-black {
    display: flex;
    align-items: center;
    gap: 1rem; 
  } */

  /* @media screen and (max-width: 768px) { */
    /* Adjust the main container for smaller screens */


    /* .justify-between {
      flex-direction: column; 
    }
   */
    /* Adjust spacing for navigation links and login button */

    /* .text-black {
      margin: 1rem 0; 
      gap: 0; 
    }
   */
    /* Responsive padding for small screens */

    /* .text-black p,
    .text-black button {
      padding: 0.5rem 1rem; 
    }
  }
   */