@tailwind base;
@tailwind components;
@tailwind utilities;

/* {
  background-color: #F9FFE1;
} */

/* body {
  background-color:linear-gradient(to right, #dfea7d, #d9f182);
} */

body {
  background-image: linear-gradient(to right, #eff6c2, #eaeedb);
}


button {
  background-color: #E7EE9D;
}

/* Add a specific rule for button text to avoid inheriting global background color */
button span {
  background-color: initial;
}
